<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mytvonline.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
				<key>dateExpires</key>
				<string>11/01/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5CAA3C2A298914E780E6130063296829EC7154C7</string>
						<key>dateExpires</key>
						<string>11/01/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3783J7TL9J</string>
						<key>name</key>
						<string>Kevin Solis Chacon</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3783J7TL9J.com.devwarecuu.oku</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3783J7TL9J</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>97a1e658-bac1-4bf8-97d8-7de51ce9e829</string>
				<key>dateExpires</key>
				<string>26/02/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.devwarecuu.oku</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3783J7TL9J</string>
				<key>name</key>
				<string>Kevin Solis Chacon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.7</string>
		</dict>
	</array>
</dict>
</plist>
