<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhFL8VgVKEc6l_rE5eqvTRVsEx5rNsve4</string>
	<key>GCM_SENDER_ID</key>
	<string>526358949411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panamex.shoplinerepartidorflutter</string>
	<key>PROJECT_ID</key>
	<string>shopline-app-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>shopline-app-admin.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526358949411:ios:e880f527e0e8fa9a250b96</string>
</dict>
</plist>